@{
    Layout = "~/Views/Home/shares/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}

@model TxlMvc.Models.LoginModel
<div class="login-box-bg">
    <div class="logintxt">
        用户登录</div>
    <img alt="" src="../../Content/images/login-box.jpg" />
    <ul>
        <li>用户名： <input type="text" id="username" class="login-input"/>
        </li>
        <li>密&nbsp;码：<input type="password" id="password" class="login-input" />
        </li>
    </ul>
</div>
<div class="login-box-bottom">
    <input type="button" value="立即登录" id="login" class="loginbtn"/>

    <p>
        @Html.ActionLink("Register", "Register") (如果你没有帐户)。
    </p>
 </div>
<script type="text/javascript" >
    $("#login").click(function () {
        var loginparam = {};
        loginparam["UserName"] = $("#username").val();
        loginparam["Password"] = $("#password").val();
        $.ajax({
            type: "POST",
            url: "/Home/Login",
            data: loginparam,
            success: function (data) {
                if (data.success)
                { window.location.href = "/Home/Index"; }
                else {
                    alert("登录失败: " + data.msg);
                     window.location.href = "/Home/Login"; 
                }
            }

        });
    });
</script>