@{
    ViewBag.Title = "Login";
}
<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
@model TxlMvc.Models.LoginModel
<h2>Login</h2>
<fieldset>
        <legend>“登录”表单</legend>
        <ol>
             <li>
               用户名： <input type="text" id="username" />
                
            </li>
            <li>
               密码：<input type="password" id="password" />
               
            </li>
           
        </ol>
        <input type="button" value="登录" id="login" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") (如果你没有帐户)。
    </p>

<script type="text/javascript" >
    $("#login").click(function () {
        var loginparam = {};
        loginparam["UserName"] = $("#username").val();
        loginparam["Password"] = $("#password").val();
        $.ajax({
            type:"POST",
            url:"/Home/LoginIn",
            data:loginparam

        });
    });
</script>