@{
    Layout = "~/Views/Home/shares/_LoginLayout.cshtml";
    ViewBag.Title = "Register";
}

@model TxlMvc.Models.UserProfile


  <div class="login-box-bg">
        <div class="logintxt">用户注册</div>
            <img src="../../Content/images/login-box.jpg" />
        <ul>
      
            <li>
               用户名： <input type="text" id="username" /><Text id="tip"></Text>
                
            </li>
            <li>
               密码：<input type="password" id="password" /><Text id="pwtip"></Text>
               
            </li>
       
       </ul>
   </div>
   <div class="login-box-bottom">
        <input type="button" value="注册" id="register"  class="loginbtn"/>
        <p><a href="/Home/Login">已注册？请登录</a></p>
   </div>
    <script type="text/javascript" >
        $(function () {

            $("#username").bind("blur", function () {
                if ($(this).val().length == 0)
                { $("#tip").html("用户名不能为空！").css("color", "red"); }
                else { $("#tip").html(""); }
            });
            $("#password").bind("blur", function () {
                if ($(this).val().length < 6) {
                    $("#pwtip").html("密码不得小于6位").css("color", "red");

                } else { $("#pwtip").html(""); }
            });
        });
    //提交注册内容
        $("#register").click(function () {
            var registerparam = {};
            registerparam["UserName"] = $("#username").val();
            registerparam["Password"] = $("#password").val();
            $.ajax({
                type: "POST",
                url: "/Home/Register",
                data: registerparam,
                success: function (data) {
                    if (data.success) {
                        alert(data.success);
                    } else {
                        alert(data.msg);
                    }
                }
            });
        });
    </script>

